<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "views/style/A.css">
    <title>Q&A</title>
</head>
<body>
  <div id="all">
    <div id="header">
      <div id="top">
        <%- include('noLoginMenu') %>
        <a href="/home">
          <img src="/views/image/logo.png" id="logo">
        </a>
      </div>
      <%- include('menu') %>
    </div>
    <div id="main">
      <h2 id='title'>공급자로 회원가입하였는데, 저도 공고를 올릴 수 있나요?</h2>
      <div id="bu">
        <p id='auth'>관리자</p>
        <p id= 'date'>2021.10.18</p>
      </div>
      <p id="dia">─ ◆ ◆ ◆ ─</p>
      <div id='content'>
        <p id="q">Q. 공급자로 회원가입하였는데, 저도 공고를 올릴 수 있나요?</p>
        <p id="a">A. 네, 가능합니다.</p>
        <p id="text">
          전자입찰웹사이트 E.B.S는 공급자와 수요자 양측 모두 공고 작성이 가능하며 자유로운 거래와 교류를 지향하고 있습니다.<br>
          따라서 회원가입 시 공급자, 혹은 수요자로 회원가입한 경우 모두 자유롭게 입찰 공고 작성 및 입찰 진행 참여가 가능합니다.
        </p>
      </div>
    </div>
    <div id="bottom">
      <hr>
      <br>
      <p>안산대학교 IT응용보안과 2B04 전자입찰시스템</p>
    </div>
  </div>
</body>
</html>
