<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "views/style/home.css">
    <title>HOME</title>
</head>
<body>
  <div id="all">
    <div id="header">
      <div id="top">
        <%- include('noLoginMenu') %>
        <a href="/home">
          <img src="views/image/logo.png" id="logo">
        </a>
      </div>
      <%- include('menu') %>
    </div>
    <div id="main">
      <div class="section">
        <input type="radio" name="slide" id="slide01" checked>
        <input type="radio" name="slide" id="slide02">
        <input type="radio" name="slide" id="slide03">
        <input type="radio" name="slide" id="slide04">
        <div class="slidewrap">
          <ul class="slidelist">
            <li>
              <a>
                <img src="views/image/main1.png">
              </a>
            </li>
            <li>
              <a>
                <img src="views/image/main2.png">
              </a>
            </li>
            <li>
              <a>
                <img src="views/image/main3.png">
              </a>
            </li>
            <li>
              <a>
                <img src="views/image/main4.png">
              </a>
            </li>
          </ul>
          <div class="slide-control">
            <div class="control01">
              <label for="slide04" class="left"></label>
              <label for="slide02" class="right"></label>
            </div>
            <div class="control02">
              <label for="slide01" class="left"></label>
              <label for="slide03" class="right"></label>
            </div>
            <div class="control03">
              <label for="slide02" class="left"></label>
              <label for="slide04" class="right"></label>
            </div>
            <div class="control04">
              <label for="slide03" class="left"></label>
              <label for="slide01" class="right"></label>
            </div>
          </div>
        </div>
      </div>
        <div id="po">
          <div id="pack">
            <div id="notice">
              <ul>
                <h3>공지사항</h3>
                <br>
                <li>- <a href="/noticePosts4">문의하기 관련 주의사항</a></li>
                <li>- <a href="/noticePosts3">파일 첨부 관련 주의사항</a></li>
                <li>- <a href="/noticePosts2">EBS 사이트 이용 공지사항</a></li>
                <li>- <a href="/noticePosts1">전체 공지사항</a></li>
              </ul>
            </div>
          </div>
          <div id="pack">
            <div id="post">
              <ul>
                <h3>입찰 공고</h3>
                <br>
                <%
                for(var i = 0; i < 4; i++){
                    var data = result[i];
                %>
                  <li>
                    <p>- <a href="/post/<%= data.id %>"><%= data.title %></a></p>
                  </li>
                  <br>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
        <div id="banner2">
          <a href="/notice">
            <div id="ba">
              <img src="views/image/002.png">
              <p>공지사항</p>
            </div>
          </a>
          <a href="/Q&A">
            <div id="ba">
              <img src="views/image/003.png">
              <p>FAQ</p>
            </div>
          </a>
          <a href="/posting">
            <div id="ba">
              <img src="views/image/001.png">
              <p>입찰 공고</p>
            </div>
          </a>
          <a href="/mypage">
            <div id="ba">
              <img src="views/image/004.png">
              <p>마이페이지</p>
            </div>
          </a>
        </div>
    </div>
    <div id="bottom">
      <hr>
      <br>
      <p>안산대학교 IT응용보안과 2B04 전자입찰시스템</p>
    </div>
  </div>
</body>
</html>
