<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "views/style/login.css">
    <title>로그인</title>
</head>
<body>
  <div id="all">
    <div id="header">
      <div id="top">
        <%- include('noLoginMenu') %>
        <a href="/home">
          <img src="views/image/logo.png" id="logo">
        </a>
      </div>
      <%- include('menu') %>
    </div>
    <div id="main">
        <h2>로그인</h2>
        <div id="login">
          <form method="post">
            <h3>ID와 비밀번호를 입력하여 로그인하세요.</h3>
            <table align="center" id="tabel">
              <tbody>
                <tr>
                  <td><label id="idid">I  D</label></td>
                  <td><input type="TEXT" name="id" id="id"></td>
                </tr>
                <tr>
                  <td><label id="pwpw">비밀번호</label></td>
                  <td><input type="password" name="pw" id="pw"></td>
                </tr>
              </tbody>
            </table>
            <input type="submit" value="로그인" id="btnlogin">
          </form>
        </div>
    </div>
    <div id="bottom">
      <hr>
      <br>
      <p>안산대학교 IT응용보안과 2B04 전자입찰시스템</p>
    </div>
  </div>
</body>
</html>
