<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "views/style/noticePosting.css">
    <title>공지사항</title>
</head>
<body>
  <div id="all">
    <div id="header">
      <div id="top">
        <%- include('noLoginMenu') %>
        <a href="/home">
          <img src="/views/image/logo.png" id="logo">
        </a>
      </div>
      <%- include('menu') %>
    </div>
    <div id="main">
      <h2 id='title'>문의하기 관련 주의사항</h2>
      <div id="bu">
        <p id='auth'>관리자</p>
        <p id= 'date'>2021.10.18</p>
      </div>
      <p id="dia">─ ◆ ◆ ◆ ─</p>
      <p id='content'>안녕하십니까, 전자 입찰 웹사이트 'EBS'입니다.<br><br>전자 입찰 웹사이트 'EBS'에서는 입찰 및 개찰 진행 뒤, 1:1 대화에 대응하는
        '문의하기' 기능을 지원하고 있습니다. '문의하기'를 통해 입찰 대상자와 거래 진행 및 교섭을 할 수 있습니다.<br><br>
        '문의하기' 기능 또한 공고 작성 및 입찰 신청 시와 마찬가지로 파일 암호화를 지원합니다. 다만 '문의하기'의 제목 및 내용은 암호화 되지 않으며
        오직 파일만이 암호화되므로 상세한 거래 내용 및 개인정보는 반드시 파일에 첨부하여 대화하시길 바랍니다. <br><br>
        전자 입찰 웹사이트 EBS에서는 사용자 과실로 인해 일어난 정보 유출 문제에 대해서는 책임지지 않습니다.
      </p>
    </div>
    <div id="bottom">
      <hr>
      <br>
      <p>안산대학교 IT응용보안과 2B04 전자입찰시스템</p>
    </div>
  </div>
</body>
</html>
