<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "views/style/open.css">
    <title>입찰 현황</title>
</head>
<body>
  <div id="all">
    <div id="header">
      <div id="top">
        <%- include('noLoginMenu') %>
        <a href="/home">
          <img src="/views/image/logo.png" id="logo">
        </a>
      </div>
      <%- include('menu') %>
    </div>
    <div id="main">
      <h2>입찰이 없습니다.<br>유찰되었습니다.</h2>
      <form id="" method="post">
        <p id="t">개찰일</p>
        <input type="date" name='date' id='date' required/>
        <input type="time" name='time' id='time' required/>
        <input type="submit" id="rebid" value="자동 재입찰">
      </form>
    </div>
    <div id="bottom">
      <hr>
      <br>
      <p>안산대학교 IT응용보안과 2B04 전자입찰시스템</p>
    </div>
  </div>
</body>
<style media="screen">
  @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

  /* 기본 설정 리셋 */
  *{margin: 0; padding: 0;}
  li{list-style: none;}
  a{text-decoration: none;}

  /* 전체 크기 설정 */
  body{background-color: #F7EBED;}
  #all{width: 1024px; margin: 0 auto;}

  /* header */
  #top{padding-top: 100px;}
  #loginMenu{float: right; margin-top: 110px; margin-right: 12px; font-family: 'Jeju Gothic', sans-serif; color: #1b1e2b;}
  #loginMenu a:link{color: #563945;}
  #loginMenu a:visited{color: #563945;}
  #loginMenu a:hover{color: #563945;}
  #lo{margin-right: 20px;}
  #menu{margin-top: 10px; padding-top: 20px; padding-bottom: 20px; display: flex;
    justify-content: space-around; background-color: #3c2832;
    border-radius: 8px;}
  #menu a{font-family: 'Jeju Gothic', sans-serif; font-size: larger;}
  #menu a:link{color: #DCBEC3;}
  #menu a:visited{color: #DCBEC3;}
  #menu a:hover{color: #C49AA1;}

  /* 본문 */
  #main{font-family: 'Jeju Gothic', sans-serif; text-align: center;  margin-top: 70px;}
  #main p{text-align: center;}
  #main h2{text-align: center; font-family: 'Jeju Gothic', sans-serif; font-size: xx-large;
    border-bottom: 3px solid black; width:300px; margin: 0 auto; margin-bottom: 70px;}
  #t{font-size: 20px; margin-bottom: 10px;}
  #rebid{background-color: #C49AA1; border-radius: 8px; width: 180px; height: 60px; margin: 0 auto; margin-bottom: 70px;
    font-size: 20px; font-weight: bold; color:  #563945; display: block; margin-top: 30px;}

  /* bottom */
  #bottom p{margin-top: 10px; margin-bottom: 30px; text-align: center; font-family: 'Jeju Gothic', sans-serif;}
</style>
</html>
