<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>파일 업로드 테스트</title>
</head>
<body>
   <h1>파일 업로드</h1>
   <hr>
   <form method="post" enctype="multipart/form-data" action="/test">
       <input type="file" name="file">
       <input type="submit" name="submit" value="업로드">
   </form>
</body>
</html>
