@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* 기본 설정 리셋 */
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/* 전체 크기 설정 */
body{background-color: #F7EBED;}
#all{width: 1024px; margin: 0 auto;}

/* header */
#top{padding-top: 100px;}
#loginMenu{float: right; margin-top: 110px; margin-right: 12px; font-family: 'Jeju Gothic', sans-serif; color: #1b1e2b;}
#loginMenu a:link{color: #563945;}
#loginMenu a:visited{color: #563945;}
#loginMenu a:hover{color: #563945;}
#lo{margin-right: 20px;}
#menu{margin-top: 10px; padding-top: 20px; padding-bottom: 20px; display: flex;
  justify-content: space-around; background-color: #3c2832;
  border-radius: 8px;}
#menu a{font-family: 'Jeju Gothic', sans-serif; font-size: larger;}
#menu a:link{color: #DCBEC3;}
#menu a:visited{color: #DCBEC3;}
#menu a:hover{color: #C49AA1;}

/* 본문 */
#main{padding-top: 30px; padding-bottom: 30px; width:100%;}
#main p{text-align: center;}
#title{font-size: 40px; text-align:center; font-weight:bold; font-family: 'Jeju Gothic', sans-serif; margin-top: 30px;}
#cate{text-align:center; font-size: 26px; font-weight: bold; color: #956C78;}
#bu{margin-top: 30px; width: 500px; height: 50px; margin: 0 auto; margin-bottom: 20px; margin-top: 20px;}
#auth{float:left;  color: #3c2832;}
#date{float: right;  color: #3c2832;}
#count{float: right;}
#content{margin-bottom: 50px; font-size: 24px; width: 100%; font-family: 'Jeju Gothic', sans-serif;  color: #3c2832;}
#q{font-weight: bolder; font-size: 30px; margin-bottom: 60px; color: #3c2832;}
#a{font-weight: bolder; font-size: 30px; margin-bottom: 30px; color: #3c2832;}


/* bottom */
#bottom p{margin-top: 10px; margin-bottom: 30px; text-align: center; font-family: 'Jeju Gothic', sans-serif;}
