@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* 기본 설정 리셋 */
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/* 전체 크기 설정 */
body{background-color: #F7EBED;}
#all{width: 1024px; margin: 0 auto;}

/* header */
#top{padding-top: 100px;}
#loginMenu{float: right; margin-top: 110px; margin-right: 12px; font-family: 'Jeju Gothic', sans-serif; color: #1b1e2b;}
#loginMenu a:link{color: #563945;}
#loginMenu a:visited{color: #563945;}
#loginMenu a:hover{color: #563945;}
#lo{margin-right: 20px;}
#menu{margin-top: 10px; padding-top: 20px; padding-bottom: 20px; display: flex;
  justify-content: space-around; background-color: #3c2832;
  border-radius: 8px;}
#menu a{font-family: 'Jeju Gothic', sans-serif; font-size: larger;}
#menu a:link{color: #DCBEC3;}
#menu a:visited{color: #DCBEC3;}
#menu a:hover{color: #C49AA1;}

/* 본문 */
#main{font-family: 'Jeju Gothic', sans-serif; text-align: center; margin-top: 40px; margin-bottom: 200px; margin-right: 100px}
#main p{text-align: center;}
#main h2{text-align: center; font-family: 'Jeju Gothic', sans-serif; font-size: xx-large;
  border-bottom: 3px solid black; width:120px; margin-bottom: 70px; margin-top: 70px; margin-left: 430px;}
#search{height: 160px; background-color: #C3909A; margin-bottom: 10px; border-radius: 8px;}
#search h2{font-size: 36px; padding-top: 40px; float: left; padding-left: 70px; margin-right: 70px; color: #1b1e2b;}
#sear{padding-top: 16px;}
#sear p, #sear input{float: left;}
#sear input{margin-right: 40px; margin-top: 4px;}
#sear p{margin-right: 10px;}
#searc{float: left; margin-top: 10px;}
#searc p, #searc input{float: left;}
#searc input{margin-right: 46px; margin-top: 4px;}
#searc p{margin-right: 10px; margin-top: 2px;}
#sear p, #searc p{font-size: 20px;}
#delete input{margin-right: 40px; margin-top: 4px;}
#delete p{margin-right: 5px; margin-top: 2px;}
#delete p{font-size: 20px;}
#delete{float: left; margin-top: 10px;}
#delete p, #delete input{float: left;}
#searchb{font-size: 24px; margin-top: 8px;}
#searchbutton{font-size: 20px; margin-top: 8px; font-weight: bolder; background-color: #956C78;}

#posting{background-color: #956C78; height: 120px; margin-bottom: 10px; float: left; width: 180px; border-radius: 8px;}
#po{background-color: #E4C4C8; height: 100px; margin-bottom: 10px; width: 160px; border-radius: 8px; margin: 10px;}
#po h3{padding: 30px; color: black; font-size: 25px; font-weight: bolder; width: auto; padding-top: 35px;}
#posts{background-color: #956C78; width: 834px; float: right; border-radius: 8px;}
#post{background-color: #F3DEE0; width: 814px; height: 100px;
  margin: 10px; border-radius: 8px;}
#t{margin-left: 10px; display: block;}
#title{float: left; font-size: 30px; font-weight: bolder; margin-top: 10px; color: black;}
#category{float: left; font-size: 24px; margin-top: 16px; margin-left: 20px;}
#count{float: right; font-size: 20px; margin-top: 18px; color: grey; margin-right: 10px;}
#a{display: block; float: left; width: 814px; margin-left: 10px; margin-top: 14px;}
#auth{margin-left: 30px;}
#auth, #date{float: left; font-size: 20px; margin-top: 16px;}
#date{float: right; margin-right: 20px;}
#text{float: left; font-size: 20px; color: #3c2832;}

/* bottom */
#bottom{margin-top: 100px; float: right; width: 1024px; margin-right: 440px;}
#bottom p{margin-top: 10px; margin-bottom: 30px; text-align: center; font-family: 'Jeju Gothic', sans-serif;}
