@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* 기본 설정 리셋 */
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/* 전체 크기 설정 */
body{background-color: #F7EBED;}
#all{width: 1024px; margin: 0 auto;}

/* header */
#top{padding-top: 100px;}
#loginMenu{float: right; margin-top: 110px; margin-right: 12px; font-family: 'Jeju Gothic', sans-serif; color: #1b1e2b;}
#loginMenu a:link{color: #563945;}
#loginMenu a:visited{color: #563945;}
#loginMenu a:hover{color: #563945;}
#lo{margin-right: 20px;}
#menu{margin-top: 10px; padding-top: 20px; padding-bottom: 20px; display: flex;
  justify-content: space-around; background-color: #3c2832;
  border-radius: 8px;}
#menu a{font-family: 'Jeju Gothic', sans-serif; font-size: larger;}
#menu a:link{color: #DCBEC3;}
#menu a:visited{color: #DCBEC3;}
#menu a:hover{color: #C49AA1;}

/* 본문 */
#main{font-family: 'Jeju Gothic', sans-serif; text-align: center;  margin-top: 70px;}
#main p{text-align: center;}
#name h2{text-align: center; font-family: 'Jeju Gothic', sans-serif; font-size: xx-large;
  border-bottom: 3px solid black; width:260px; margin: 0 auto;
  margin-top: 70px;}
#posts{background-color: #956C78; width: 834px; float: right; border-radius: 8px; margin-top: 10px; margin-right: 90px;}
#post{background-color: #F3DEE0; width: 814px; height: 100px;
  margin: 10px; border-radius: 8px;}
#t{margin-left: 10px; display: block;}
#title{float: left; font-size: 30px; font-weight: bolder; margin-top: 10px; color: black;}
#category{float: left; font-size: 24px; margin-top: 16px; margin-left: 20px;}
#count{float: right; font-size: 20px; margin-top: 18px; color: grey; margin-right: 10px;}
#a{display: block; float: left; width: 814px; margin-left: 10px; margin-top: 14px;}
#auth, #date{float: left; font-size: 20px;}
#date{float: right; margin-right: 20px;}
#delete{background-color: red; font-weight: bolder; color: white; width: 50px; height: 30px; border-radius: 8px; font-size: 20px;
  float: left; margin-left: 20px; margin-top: 12px;}
#search{background-color: #C3909A; width: 834px; border-radius: 8px; float: right; margin-right: 90px; height: 50px;}
#sear input, #sear p{float: left;}
#in{margin-right: 40px;}
#sear p{margin-left: 10px; margin-right: 10px;}
#sear{margin-top: 18px;}
#s{height: 20px; width: 60px; font-size: 14px; font-weight: bolder; margin-left: 50px;}

/* bottom */
#bottom{margin-top: 40px; float: right; width: 1024px;}
#bottom p{margin-top: 10px; margin-bottom: 30px; text-align: center; font-family: 'Jeju Gothic', sans-serif;}
