@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* 기본 설정 리셋 */
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/* 전체 크기 설정 */
body{background-color: #F7EBED;}
#all{width: 1024px; margin: 0 auto;}

/* header */
#top{padding-top: 100px;}
#loginMenu{float: right; margin-top: 110px; margin-right: 12px; font-family: 'Jeju Gothic', sans-serif; color: #1b1e2b;}
#loginMenu a:link{color: #563945;}
#loginMenu a:visited{color: #563945;}
#loginMenu a:hover{color: #563945;}
#lo{margin-right: 20px;}
#menu{margin-top: 10px; padding-top: 20px; padding-bottom: 20px; display: flex;
  justify-content: space-around; background-color: #3c2832;
  border-radius: 8px;}
#menu a{font-family: 'Jeju Gothic', sans-serif; font-size: larger;}
#menu a:link{color: #DCBEC3;}
#menu a:visited{color: #DCBEC3;}
#menu a:hover{color: #C49AA1;}

/* 본문 */
#main{margin-top: 70px; margin-bottom: 10px; font-family: 'Jeju Gothic', sans-serif; text-align: center;}
#main h2{text-align: center; font-family: 'Jeju Gothic', sans-serif; font-size: xx-large;
  border-bottom: 3px solid black; width:150px; margin: 0 auto;}
#main h3{margin-top: 10px;}
#tabel{margin: 0 auto; margin-top: 70px;}
#id{height: 30px; width:300px; font-size: larger;}
#pw, #name, #pwre, #idid, #phone_num{height: 30px; width:300px; font-size: larger;}
#txtMobile1{height: 30px; font-size: larger; padding-bottom: 1px;}
#txtMobile2, #txtMobile3{height: 26px; font-size: larger;}
#buyer, #prov{height: 16px; width:30px; font-size: larger; margin-top: 5px;}
#ch{height: 16px; width: 30px; margin-top: 5px;}
#class, #che{padding-right: 20px;}
#btnsign{margin-top: 80px; width: 100px; height: 40px; font-size: larger;
   font-family: 'Jeju Gothic', sans-serif; color: #F7EBED; background-color: #956C78;
   border: none; border-radius: 16px; transition-duration: 0.5s;}
#btnsign:hover{color: #3c2832; background-color: #DCBEC3; transition-duration: 0.5s;}

/* bottom */
#bottom{margin-top: 80px;}
#bottom p{margin-top: 10px; margin-bottom: 30px; text-align: center; font-family: 'Jeju Gothic', sans-serif;}
